<header id="sidebar">
          <ul id="user_meta">
            <li class="blog_name">  
              <h1 id="blog_name">
                  <a href="/">Saeed Abdullah</a>
              </h1>
            </li>
            <li class="tagline">
              <h2 id="tagline">
                  A rigidly defined area of doubt and uncertainty!
              </h2>
            </li>
                                        <li class="link">
                            <a href="/info">About</a>
                        </li>
                        
                                    
                                    <li class="link twitter">
                                    <a target="_blank" href="https://twitter.com/saeed_siam">@saeed_siam</a>
                    </li>
                                    <li class="link">
                      <a href="/past.html">Archive</a>
                    </li>

                                    <li class="link feed">
                      <a href="/atom.xml">feed</a>
                    </li>
            </ul>

</header>

